.DS_Store
hub
sublime-text/*
!sublime-text/Packages
sublime-text/Packages/*
!sublime-text/Packages/User
sublime-text/Packages/User/*-ca-bundle*
sublime-text/Packages/User/*.cache
sublime-text/Packages/User/*.last-run
sublime-text/Packages/User/Haskell
sublime-text/Packages/User/TypeScript
