.DS_Store

/*

!/bin
!/git-template
!/home
!/iterm2
!/lib
!/mpv
!/site-functions
!/sublime-text-3
!/templates
!/theme

!/.gitignore
!/install.sh
!/license.md
!/readme.md

/bin/*
!/bin/do-defaults
!/bin/do-home
!/bin/do-pkgs
!/bin/do-subl
!/bin/git-add-credential
!/bin/git-gc-super
!/bin/git-home
!/bin/mk-gh-repo
!/bin/mk-proj
!/bin/rm-ds-stores
!/bin/rm-stupid-paths
!/bin/rot13
!/bin/srm
!/bin/timer
!/bin/toggle-theme
!/bin/update-dotfiles
!/bin/upto

/home/idris/repl/history

/mpv/watch_later

/site-functions/*
!/site-functions/_diskutil
!/site-functions/_do-pkgs
!/site-functions/_mk-gh-repo
!/site-functions/_mk-proj
!/site-functions/_rm-ds-stores
!/site-functions/_rm-stupid-items
!/site-functions/_srm

/sublime-text-3/*
!/sublime-text-3/Packages
/sublime-text-3/Packages/*
!/sublime-text-3/Packages/User
/sublime-text-3/Packages/User/oscrypto-ca-bundle.crt
/sublime-text-3/Packages/User/Package Control.cache
/sublime-text-3/Packages/User/Package Control.last-run
/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
/sublime-text-3/Packages/User/Package Control.user-ca-bundle
